[submodule "apyre/external/sdl"]
	path = apyre/external/sdl
	url = https://github.com/spurious/SDL-mirror
[submodule "external/nes"]
	path = external/nes
	url = https://github.com/Alairion/not-enough-standards.git
[submodule "swell/external/portaudio"]
	path = swell/external/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "swell/external/vorbis"]
	path = swell/external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "swell/external/ogg"]
	path = swell/external/ogg
	url = https://github.com/xiph/ogg.git
