[submodule "external/nes"]
	path = external/nes
	url = https://github.com/Alairion/not-enough-standards.git
[submodule "captal/external/chipmunk"]
	path = captal/external/chipmunk
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "captal/external/freetype"]
	path = captal/external/freetype
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "captal/external/entt"]
	path = captal/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "captal/external/sigslots"]
	path = captal/external/sigslots
	url = https://github.com/palacaze/sigslot.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "captal/external/zlib"]
	path = captal/external/zlib
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "captal/external/fastfloat"]
	path = captal/external/fastfloat
	url = https://github.com/fastfloat/fast_float.git
