[submodule "apyre/external/sdl"]
	path = apyre/external/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "external/nes"]
	path = external/nes
	url = https://github.com/Alairion/not-enough-standards.git
[submodule "swell/external/portaudio"]
	path = swell/external/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "swell/external/vorbis"]
	path = swell/external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "swell/external/ogg"]
	path = swell/external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "captal/external/zlib"]
	path = captal/external/zlib
	url = https://github.com/madler/zlib.git
[submodule "captal/external/chipmunk"]
	path = captal/external/chipmunk
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "captal/external/freetype"]
	path = captal/external/freetype
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "captal/external/entt"]
	path = captal/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "captal/external/sigslots"]
	path = captal/external/sigslots
	url = https://github.com/palacaze/sigslot.git
[submodule "tephra/external/stb"]
	path = tephra/external/stb
	url = https://github.com/nothings/stb.git
